<button type="button" (click)="operatorButton('add')" class="operatorButton"> + Add +  </button>
<button type="button" (click)="operatorButton('subtract')" class="operatorButton"> - Subtract - </button><br>
<button type="button" (click)="operatorButton('multiply')" class="operatorButton"> * Multiply *</button>
<button type="button" (click)="operatorButton('divide')" class="operatorButton"> / Divide / </button><br>
<button type="button" (click)="operatorButton('equals')" class="equalButton"> = Equals = </button><br>
<button type="button" (click)="operatorButton('clear')" class="equalButton"> CLEAR </button>
